*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#111;
overflow-x:hidden;
}

.showreel{
height:300vh;
position:relative;
}

.sticky-container{
position:sticky;
top:0;
height:100vh;
overflow:hidden;
}

#center-video{
position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);

width:95vw;
height:95vh;

overflow:hidden;

border-radius:20px;

z-index:20;
}

#center-video video{
width:100%;
height:100%;
object-fit:cover;
}

.grid{
position:absolute;

inset:0;

display:grid;

grid-template-columns:
20vw 38vw 20vw;

grid-template-rows:
31vh 31vh 31vh;

justify-content:center;
align-content:center;

gap:5px;

padding:5px;
}

.video-card{

opacity:0;

overflow:hidden;

border-radius:18px;

transform:
translateY(60px)
scale(.85);
}

.video-card video{
width:100%;
height:100%;
object-fit:cover;
display:block;
}